<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Local_HTML</title>
</head>
<body>
    Try AI directly in your favorite apps …
Use Gemini to generate drafts and refine content, plus get Gemini Pro with access to Google's next-gen AI for ₹1,950 ₹11 for 3 months
NiftyFut_16Oct_15min.html

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>open</th>
      <th>high</th>
      <th>low</th>
      <th>close</th>
      <th>volume</th>
      <th>oi</th>
      <th>OI_trend</th>
      <th>OI_change</th>
    </tr>
    <tr>
      <th>date</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2025-10-15 09:15:00+05:30</th>
      <td>25261.0</td>
      <td>25358.0</td>
      <td>25250.0</td>
      <td>25356.8</td>
      <td>1259700</td>
      <td>17912100</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>2025-10-15 09:30:00+05:30</th>
      <td>25356.8</td>
      <td>25367.5</td>
      <td>25311.0</td>
      <td>25323.1</td>
      <td>376275</td>
      <td>17848950</td>
      <td>Long Unwinding</td>
      <td>-63150</td>
    </tr>
    <tr>
      <th>2025-10-15 09:45:00+05:30</th>
      <td>25323.1</td>
      <td>25337.9</td>
      <td>25305.6</td>
      <td>25311.0</td>
      <td>270075</td>
      <td>17706825</td>
      <td>Long Unwinding</td>
      <td>-142125</td>
    </tr>
    <tr>
      <th>2025-10-15 10:00:00+05:30</th>
      <td>25311.0</td>
      <td>25350.0</td>
      <td>25305.6</td>
      <td>25348.7</td>
      <td>101475</td>
      <td>17690700</td>
      <td>Short Covering</td>
      <td>-16125</td>
    </tr>
    <tr>
      <th>2025-10-15 10:15:00+05:30</th>
      <td>25348.7</td>
      <td>25385.0</td>
      <td>25346.7</td>
      <td>25379.6</td>
      <td>345675</td>
      <td>17585025</td>
      <td>Short Covering</td>
      <td>-105675</td>
    </tr>
    <tr>
      <th>2025-10-15 10:30:00+05:30</th>
      <td>25379.6</td>
      <td>25398.0</td>
      <td>25375.0</td>
      <td>25395.0</td>
      <td>230325</td>
      <td>17591025</td>
      <td>Long Buildup</td>
      <td>6000</td>
    </tr>
    <tr>
      <th>2025-10-15 10:45:00+05:30</th>
      <td>25395.0</td>
      <td>25418.7</td>
      <td>25376.8</td>
      <td>25417.9</td>
      <td>336600</td>
      <td>17600100</td>
      <td>Long Buildup</td>
      <td>9075</td>
    </tr>
    <tr>
      <th>2025-10-15 11:00:00+05:30</th>
      <td>25417.9</td>
      <td>25425.0</td>
      <td>25387.8</td>
      <td>25394.7</td>
      <td>276450</td>
      <td>17634900</td>
      <td>Short Buildup</td>
      <td>34800</td>
    </tr>
    <tr>
      <th>2025-10-15 11:15:00+05:30</th>
      <td>25394.7</td>
      <td>25432.0</td>
      <td>25391.0</td>
      <td>25426.0</td>
      <td>169050</td>
      <td>17670225</td>
      <td>Long Buildup</td>
      <td>35325</td>
    </tr>
    <tr>
      <th>2025-10-15 11:30:00+05:30</th>
      <td>25426.0</td>
      <td>25428.0</td>
      <td>25402.2</td>
      <td>25410.4</td>
      <td>116550</td>
      <td>17719350</td>
      <td>Short Buildup</td>
      <td>49125</td>
    </tr>
    <tr>
      <th>2025-10-15 11:45:00+05:30</th>
      <td>25413.7</td>
      <td>25422.0</td>
      <td>25398.2</td>
      <td>25412.1</td>
      <td>103875</td>
      <td>17761350</td>
      <td>Long Buildup</td>
      <td>42000</td>
    </tr>
    <tr>
      <th>2025-10-15 12:00:00+05:30</th>
      <td>25412.0</td>
      <td>25420.0</td>
      <td>25396.5</td>
      <td>25396.8</td>
      <td>106500</td>
      <td>17797500</td>
      <td>Short Buildup</td>
      <td>36150</td>
    </tr>
    <tr>
      <th>2025-10-15 12:15:00+05:30</th>
      <td>25396.8</td>
      <td>25409.9</td>
      <td>25384.0</td>
      <td>25409.9</td>
      <td>167625</td>
      <td>17827575</td>
      <td>Long Buildup</td>
      <td>30075</td>
    </tr>
    <tr>
      <th>2025-10-15 12:30:00+05:30</th>
      <td>25409.9</td>
      <td>25420.8</td>
      <td>25403.0</td>
      <td>25420.8</td>
      <td>86550</td>
      <td>17830425</td>
      <td>Long Buildup</td>
      <td>2850</td>
    </tr>
    <tr>
      <th>2025-10-15 12:45:00+05:30</th>
      <td>25420.8</td>
      <td>25433.9</td>
      <td>25415.4</td>
      <td>25431.6</td>
      <td>126000</td>
      <td>17852700</td>
      <td>Long Buildup</td>
      <td>22275</td>
    </tr>
    <tr>
      <th>2025-10-15 13:00:00+05:30</th>
      <td>25431.6</td>
      <td>25435.5</td>
      <td>25421.8</td>
      <td>25425.2</td>
      <td>102075</td>
      <td>17867475</td>
      <td>Short Buildup</td>
      <td>14775</td>
    </tr>
    <tr>
      <th>2025-10-15 13:15:00+05:30</th>
      <td>25425.2</td>
      <td>25460.0</td>
      <td>25425.0</td>
      <td>25446.0</td>
      <td>264525</td>
      <td>17862675</td>
      <td>Short Covering</td>
      <td>-4800</td>
    </tr>
    <tr>
      <th>2025-10-15 13:30:00+05:30</th>
      <td>25446.0</td>
      <td>25460.0</td>
      <td>25442.4</td>
      <td>25444.2</td>
      <td>133575</td>
      <td>17907975</td>
      <td>Short Buildup</td>
      <td>45300</td>
    </tr>
    <tr>
      <th>2025-10-15 13:45:00+05:30</th>
      <td>25444.2</td>
      <td>25452.5</td>
      <td>25419.9</td>
      <td>25428.5</td>
      <td>175875</td>
      <td>17931300</td>
      <td>Short Buildup</td>
      <td>23325</td>
    </tr>
    <tr>
      <th>2025-10-15 14:00:00+05:30</th>
      <td>25428.5</td>
      <td>25432.3</td>
      <td>25408.6</td>
      <td>25422.7</td>
      <td>147525</td>
      <td>17937075</td>
      <td>Short Buildup</td>
      <td>5775</td>
    </tr>
    <tr>
      <th>2025-10-15 14:15:00+05:30</th>
      <td>25422.7</td>
      <td>25435.0</td>
      <td>25410.4</td>
      <td>25431.0</td>
      <td>74550</td>
      <td>17951250</td>
      <td>Long Buildup</td>
      <td>14175</td>
    </tr>
    <tr>
      <th>2025-10-15 14:30:00+05:30</th>
      <td>25431.0</td>
      <td>25433.2</td>
      <td>25420.0</td>
      <td>25428.0</td>
      <td>55350</td>
      <td>17962725</td>
      <td>Short Buildup</td>
      <td>11475</td>
    </tr>
    <tr>
      <th>2025-10-15 14:45:00+05:30</th>
      <td>25428.0</td>
      <td>25433.0</td>
      <td>25398.0</td>
      <td>25412.0</td>
      <td>149325</td>
      <td>17991675</td>
      <td>Short Buildup</td>
      <td>28950</td>
    </tr>
    <tr>
      <th>2025-10-15 15:00:00+05:30</th>
      <td>25412.0</td>
      <td>25429.5</td>
      <td>25400.0</td>
      <td>25428.0</td>
      <td>109350</td>
      <td>17994675</td>
      <td>Long Buildup</td>
      <td>3000</td>
    </tr>
    <tr>
      <th>2025-10-15 15:15:00+05:30</th>
      <td>25422.1</td>
      <td>25434.3</td>
      <td>25420.0</td>
      <td>25433.6</td>
      <td>301575</td>
      <td>18013275</td>
      <td>Long Buildup</td>
      <td>18600</td>
    </tr>
    <tr>
      <th>2025-10-16 09:15:00+05:30</th>
      <td>25462.0</td>
      <td>25519.0</td>
      <td>25460.0</td>
      <td>25514.9</td>
      <td>677925</td>
      <td>18123375</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>2025-10-16 09:30:00+05:30</th>
      <td>25514.9</td>
      <td>25526.2</td>
      <td>25491.0</td>
      <td>25514.4</td>
      <td>228675</td>
      <td>18047175</td>
      <td>Long Unwinding</td>
      <td>-76200</td>
    </tr>
    <tr>
      <th>2025-10-16 09:45:00+05:30</th>
      <td>25514.4</td>
      <td>25533.6</td>
      <td>25509.6</td>
      <td>25512.6</td>
      <td>218325</td>
      <td>18076575</td>
      <td>Short Buildup</td>
      <td>29400</td>
    </tr>
    <tr>
      <th>2025-10-16 10:00:00+05:30</th>
      <td>25513.5</td>
      <td>25530.0</td>
      <td>25500.0</td>
      <td>25502.0</td>
      <td>202350</td>
      <td>18081075</td>
      <td>Short Buildup</td>
      <td>4500</td>
    </tr>
    <tr>
      <th>2025-10-16 10:15:00+05:30</th>
      <td>25502.0</td>
      <td>25537.4</td>
      <td>25500.0</td>
      <td>25533.0</td>
      <td>188400</td>
      <td>18115200</td>
      <td>Long Buildup</td>
      <td>34125</td>
    </tr>
    <tr>
      <th>2025-10-16 10:30:00+05:30</th>
      <td>25533.0</td>
      <td>25539.9</td>
      <td>25525.1</td>
      <td>25539.8</td>
      <td>74250</td>
      <td>18113775</td>
      <td>Short Covering</td>
      <td>-1425</td>
    </tr>
    <tr>
      <th>2025-10-16 10:45:00+05:30</th>
      <td>25539.8</td>
      <td>25550.0</td>
      <td>25533.0</td>
      <td>25550.0</td>
      <td>183750</td>
      <td>18121050</td>
      <td>Long Buildup</td>
      <td>7275</td>
    </tr>
    <tr>
      <th>2025-10-16 11:00:00+05:30</th>
      <td>25550.0</td>
      <td>25553.3</td>
      <td>25537.9</td>
      <td>25546.5</td>
      <td>154200</td>
      <td>18139650</td>
      <td>Short Buildup</td>
      <td>18600</td>
    </tr>
    <tr>
      <th>2025-10-16 11:15:00+05:30</th>
      <td>25546.5</td>
      <td>25550.0</td>
      <td>25533.1</td>
      <td>25546.0</td>
      <td>161850</td>
      <td>18200325</td>
      <td>Short Buildup</td>
      <td>60675</td>
    </tr>
    <tr>
      <th>2025-10-16 11:30:00+05:30</th>
      <td>25546.0</td>
      <td>25555.0</td>
      <td>25532.8</td>
      <td>25538.0</td>
      <td>153675</td>
      <td>18270825</td>
      <td>Short Buildup</td>
      <td>70500</td>
    </tr>
    <tr>
      <th>2025-10-16 11:45:00+05:30</th>
      <td>25532.8</td>
      <td>25550.0</td>
      <td>25527.1</td>
      <td>25543.9</td>
      <td>114825</td>
      <td>18277350</td>
      <td>Long Buildup</td>
      <td>6525</td>
    </tr>
    <tr>
      <th>2025-10-16 12:00:00+05:30</th>
      <td>25543.9</td>
      <td>25570.0</td>
      <td>25540.0</td>
      <td>25569.9</td>
      <td>133500</td>
      <td>18274575</td>
      <td>Short Covering</td>
      <td>-2775</td>
    </tr>
    <tr>
      <th>2025-10-16 12:15:00+05:30</th>
      <td>25570.0</td>
      <td>25594.0</td>
      <td>25560.1</td>
      <td>25588.8</td>
      <td>287250</td>
      <td>18283050</td>
      <td>Long Buildup</td>
      <td>8475</td>
    </tr>
    <tr>
      <th>2025-10-16 12:30:00+05:30</th>
      <td>25590.0</td>
      <td>25609.5</td>
      <td>25588.0</td>
      <td>25592.5</td>
      <td>242400</td>
      <td>18279075</td>
      <td>Short Covering</td>
      <td>-3975</td>
    </tr>
    <tr>
      <th>2025-10-16 12:45:00+05:30</th>
      <td>25592.5</td>
      <td>25609.0</td>
      <td>25589.0</td>
      <td>25595.7</td>
      <td>124200</td>
      <td>18296400</td>
      <td>Long Buildup</td>
      <td>17325</td>
    </tr>
    <tr>
      <th>2025-10-16 13:00:00+05:30</th>
      <td>25595.7</td>
      <td>25615.0</td>
      <td>25595.0</td>
      <td>25615.0</td>
      <td>83250</td>
      <td>18301800</td>
      <td>Long Buildup</td>
      <td>5400</td>
    </tr>
    <tr>
      <th>2025-10-16 13:15:00+05:30</th>
      <td>25615.0</td>
      <td>25619.0</td>
      <td>25599.1</td>
      <td>25608.4</td>
      <td>164475</td>
      <td>18321525</td>
      <td>Short Buildup</td>
      <td>19725</td>
    </tr>
    <tr>
      <th>2025-10-16 13:30:00+05:30</th>
      <td>25608.4</td>
      <td>25628.7</td>
      <td>25602.8</td>
      <td>25628.6</td>
      <td>176175</td>
      <td>18397575</td>
      <td>Long Buildup</td>
      <td>76050</td>
    </tr>
    <tr>
      <th>2025-10-16 13:45:00+05:30</th>
      <td>25628.7</td>
      <td>25634.5</td>
      <td>25620.9</td>
      <td>25625.1</td>
      <td>112950</td>
      <td>18410400</td>
      <td>Short Buildup</td>
      <td>12825</td>
    </tr>
    <tr>
      <th>2025-10-16 14:00:00+05:30</th>
      <td>25625.1</td>
      <td>25669.0</td>
      <td>25625.1</td>
      <td>25655.9</td>
      <td>280050</td>
      <td>18261825</td>
      <td>Short Covering</td>
      <td>-148575</td>
    </tr>
    <tr>
      <th>2025-10-16 14:15:00+05:30</th>
      <td>25655.9</td>
      <td>25672.4</td>
      <td>25637.9</td>
      <td>25667.5</td>
      <td>372675</td>
      <td>18270000</td>
      <td>Long Buildup</td>
      <td>8175</td>
    </tr>
    <tr>
      <th>2025-10-16 14:30:00+05:30</th>
      <td>25667.6</td>
      <td>25699.4</td>
      <td>25660.2</td>
      <td>25692.6</td>
      <td>389025</td>
      <td>18367050</td>
      <td>Long Buildup</td>
      <td>97050</td>
    </tr>
    <tr>
      <th>2025-10-16 14:45:00+05:30</th>
      <td>25692.6</td>
      <td>25696.5</td>
      <td>25671.0</td>
      <td>25692.1</td>
      <td>607125</td>
      <td>18405600</td>
      <td>Short Buildup</td>
      <td>38550</td>
    </tr>
  </tbody>
</table>


</body>
</html>